@import ./variables
@import ../fonts/AcehSoft

*
  position: relative
  font-family: inherit

html
  font-family: Inter, $defaultFont
  font-size: 16px

@supports (font-variation-settings: normal)
  html
    font-family: Inter var, $defaultFont

@screen xl
  html
    font-size: 20px

::selection
  background: #F7E4E8

.no-scroll
  overflow: hidden !important

.flex-inherit
  flex-direction: inherit

.fill
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

@import ./markdown
