@import ./github

//
// Markdown only
//

.markdown-body
  font-family: inherit
  font-size: 1.1rem

  h1, h2, h3
    padding: 0
    padding-top: 0.1rem
    border-bottom: none

    code
      display: inline-block
      margin-bottom: 0.25rem
      letter-spacing: inherit
      font-size: 80%

  h1
    @apply text-2.6rem mb-5 mt-20

  h2
    @apply text-2rem mb-4.8 mt-20

  h3
    @apply text-1.75rem mb-3.6 mt-7.2

  p
    line-height: 1.75

  p, ul, ol
    @apply font-460

  strong
    @apply font-670

  code, pre
    letter-spacing: 0.005em
    @apply text-deepPink

  code
    @apply rounded-md bg-code whitespace-nowrap

  a
    @apply text-deepPink

    span
      transition: opacity 0.25s ease-out

    code
      box-shadow: 0 0 0 1.5px #FFCCE5
      background: none
      transition: all 0.25s ease-out
      @apply font-400 px-0.8 mx-0.8

    &:hover
      text-decoration: none
      span
        opacity: 0.45
      code
        box-shadow: 0 0 0 1.5px #F50076

  pre
    box-shadow: 0 0 0 1.5px #FFCCE5
    background: rgba(white, 0.6)
    @apply rounded-0.6rem mt-7.2

  p, pre, blockquote, ol, ul
    @apply mb-4.8

  img
    background: none

  li
    @apply pl-2.0 pb-1.6

  li::marker
    content: '✲'
    font-family: monospace
    @apply text-deepPink3

//
// Global overrides
//

*, .markdown-body
  h1, h2, h3
    @apply font-h font-500 tracking-tight text-deepPink

  h1
    @apply text-5xl

  a, a:hover
    text-decoration: none
