@font-face
  font-family: 'AcehSoft'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: url("/AcehSoft-Bold.woff2") format("woff2")

@font-face
  font-family: 'AcehSoft'
  font-style: normal
  font-weight: 600
  font-display: swap
  src: url("/AcehSoft-SemiBold.woff2") format("woff2")

@font-face
  font-family: 'AcehSoft'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url("/AcehSoft-Medium.woff2") format("woff2")
