.logo
  height: 100%
  flex-shrink: 0
  @apply py-4.2 pl-6 pr-9.2 select-none

  & img
    width: auto
    height: 100%

// The header's bottom border
.line
  box-shadow: 0 0.6px 0 #F2DFE3

.topRight
  font-size: 1.1rem
  font-weight: 420

  & > *
    @apply block p-3.2 ml-4.4 whitespace-nowrap flex-shrink-0 select-none

    &:first-child
      margin: 0

  a
    color: inherit

@screen xl
  .topRight
    font-size: 1.2rem

.linkCopied
  top: calc(100% + 0.9rem)
  width: 100%
  @apply absolute pointer-events-none flex justify-center

  & > div
    color: white
    width: auto
    transform: rotateZ(0.01deg)
    @apply font-450 text-0.9rem bg-black rounded-full px-7.2 py-2.8

  strong
    @apply font-700
